In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

sns.set()
%matplotlib inline

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection  import cross_val_score
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [20]:
data = pd.read_csv("C:/Users/ryoch/PycharmProjects/Jappalo Wings Sales Data/salesData.csv")

In [21]:
data.shape

(8000, 6)

In [22]:
data.apply(lambda x: sum(x.isnull()))

Product             0
Product Type        0
Price               0
Store Identifier    0
Location            0
Profit              0
dtype: int64

In [23]:
data.isnull().sum()/data.shape[0] *100

Product             0.0
Product Type        0.0
Price               0.0
Store Identifier    0.0
Location            0.0
Profit              0.0
dtype: float64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product           8000 non-null   object
 1   Product Type      8000 non-null   object
 2   Price             8000 non-null   float64
 3   Store Identifier  8000 non-null   object
 4   Location          8000 non-null   object
 5   Profit            8000 non-null   float64
dtypes: float64(2), object(4)
memory usage: 375.1+ KB

In [32]:
categorical = data.select_dtypes(include =[np.object])
numerical = data.select_dtypes(include =[np.int64, np.float64])
print("Categorical features in Data set are: ",  categorical.shape[1])
print("Numerical features in Data set are: ", numerical.shape[1])

Categorical features in Data set are:  4
Numerical features in Data set are:  2

In [33]:
data.describe()

             Price       Profit
count  8000.000000  8000.000000
mean      5.676825     1.977814
std       2.105248     0.544284
min       3.300000     1.100000
25%       4.400000     1.760000
50%       4.400000     1.760000
75%       6.600000     2.310000
max       9.900000     2.970000